{# templates/edit.html.twig #}

{% extends 'layout.html.twig' %}
{% block title %}
    Edit Provider
{% endblock %}
{% block content %}
    <div class="w-full flex flex-col items-center justify-center">
        <h1 class="py-5 text-xl font-bold">Edit Provider</h1>
        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.active) }}
        {{ form_row(form.type) }}
        <div class="m-3">
            {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}
        <div class="m-3">
            <button id="cancelButton" class="hover:text-red-500 font-bold hover:underline ">Cancel</button>
        </div>
    </div>

    <script>
        const cancelButton = document.getElementById('cancelButton');
        cancelButton.addEventListener('click', function() {
            window.location.href = "{{ path('index') }}";
        });
    </script>
{% endblock %}
