{% extends 'layout.html.twig' %}
{% block title %}
    Providers
{% endblock %}
{% block content %}
<div class="overflow-x-auto">
    <table class="table table-md">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Type</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for provider in providers %}
        <tr>
            <th>{{ provider.id }}</th>
            <td>{{ provider.name }}</td>
            <td>{{ provider.email }}</td>
            <td>{{ provider.phone }}</td>
            <td>{{ provider.type }}</td>
            {% if provider.active == 1 %}
                <td class="text-lime-500">Yes</td>
            {% else %}
                <td class="text-red-500">No</td>
            {% endif %}
            <td></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}