{% extends 'layout.html.twig' %}
{% block content %}
    <div class="w-full flex flex-col items-center justify-center py-5">
        <h1 class="text-xl font-bold pb-5">
            {% if app.request.query.get('search') is not null %}
                <a href="{{ path('index') }}" class="text-red-500 hover:text-red-700">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
                Search results for "{{ app.request.query.get('search') }}"
            {% else %}
                List of providers
            {% endif %}
        </h1>
        <form method="get" action="{{ path('index') }}" class="mb-4 flex flex-row">
            <input type="text" name="search" class="input input-bordered w-full max-w-xs" placeholder="Search...">
            <button type="submit"
                    class="btn btn-neutral text-black hover:text-white dark:text-white dark:hover:text-white mx-3">
                Search
            </button>
        </form>
    </div>
    <div class="overflow-x-auto">
        <table class="table table-md">
            <thead>
            <tr>
                <th>Name
                    {% if app.request.query.get('sortby') == 'name' and app.request.query.get('ord') == 'asc' %}
                        <span class="text-gray-600 dark:text-white">
                        <a href="/?sortby=name&ord=asc" class="pl-1 text-green-400 text-lg"><i
                                    class="fa-solid fa-arrow-up"></i></a>
                        <a href="/?sortby=name&ord=desc" class="pl-1"><i
                                    class="fa-solid fa-arrow-down hover:text-blue-500 hover:scale-150"></i></a>
                        </span>
                    {% elseif app.request.query.get('sortby') == 'name' and app.request.query.get('ord') == 'desc' %}
                        <span class="text-gray-600 dark:text-white">
                        <a href="/?sortby=name&ord=asc" class="pl-1"><i
                                    class="fa-solid fa-arrow-up hover:text-blue-500 hover:scale-150"></i></a>
                        <a href="/?sortby=name&ord=desc" class="pl-1 text-red-400 text-lg"><i
                                    class="fa-solid fa-arrow-down"></i></a>
                        </span>
                    {% else %}
                        <span class="text-gray-600 dark:text-white">
                        <a href="/?sortby=name&ord=asc" class="pl-1"><i
                                    class="fa-solid fa-arrow-up hover:text-blue-500 hover:scale-150"></i></a>
                        <a href="/?sortby=name&ord=desc" class="pl-1"><i
                                    class="fa-solid fa-arrow-down hover:text-blue-500 hover:scale-150"></i></a>
                        </span>
                    {% endif %}
                </th>
                <th>Email
                    {% if app.request.query.get('sortby') == 'email' and app.request.query.get('ord') == 'asc' %}
                        <span class="text-gray-600 dark:text-white">
                        <a href="/?sortby=email&ord=asc" class="pl-1 text-green-400 text-lg"><i
                                    class="fa-solid fa-arrow-up"></i></a>
                        <a href="/?sortby=email&ord=desc" class="pl-1"><i
                                    class="fa-solid fa-arrow-down hover:text-blue-500 hover:scale-150"></i></a>
                        </span>
                    {% elseif app.request.query.get('sortby') == 'email' and app.request.query.get('ord') == 'desc' %}
                        <span class="text-gray-600 dark:text-white">
                        <a href="/?sortby=email&ord=asc" class="pl-1"><i
                                    class="fa-solid fa-arrow-up hover:text-blue-500 hover:scale-150"></i></a>
                        <a href="/?sortby=email&ord=desc" class="pl-1 text-red-400 text-lg"><i
                                    class="fa-solid fa-arrow-down"></i></a>
                        </span>
                    {% else %}
                        <span class="text-gray-600 dark:text-white">
                        <a href="/?sortby=email&ord=asc" class="pl-1"><i
                                    class="fa-solid fa-arrow-up hover:text-blue-500 hover:scale-150"></i></a>
                        <a href="/?sortby=email&ord=desc" class="pl-1"><i
                                    class="fa-solid fa-arrow-down hover:text-blue-500 hover:scale-150"></i></a>
                        </span>
                    {% endif %}
                </th>
                <th>Phone
                    {% if app.request.query.get('sortby') == 'phone' and app.request.query.get('ord') == 'asc' %}
                        <span class="text-gray-600 dark:text-white">
                        <a href="/?sortby=phone&ord=asc" class="pl-1 text-green-400 text-lg"><i
                                    class="fa-solid fa-arrow-up"></i></a>
                        <a href="/?sortby=phone&ord=desc" class="pl-1"><i
                                    class="fa-solid fa-arrow-down hover:text-blue-500 hover:scale-150"></i></a>
                        </span>
                    {% elseif app.request.query.get('sortby') == 'phone' and app.request.query.get('ord') == 'desc' %}
                        <span class="text-gray-600 dark:text-white">
                        <a href="/?sortby=phone&ord=asc" class="pl-1"><i
                                    class="fa-solid fa-arrow-up hover:text-blue-500 hover:scale-150"></i></a>
                        <a href="/?sortby=phone&ord=desc" class="pl-1 text-red-400 text-lg"><i
                                    class="fa-solid fa-arrow-down"></i></a>
                        </span>
                    {% else %}
                        <span class="text-gray-600 dark:text-white">
                        <a href="/?sortby=phone&ord=asc" class="pl-1"><i
                                    class="fa-solid fa-arrow-up hover:text-blue-500 hover:scale-150"></i></a>
                        <a href="/?sortby=phone&ord=desc" class="pl-1"><i
                                    class="fa-solid fa-arrow-down hover:text-blue-500 hover:scale-150"></i></a>
                        </span>
                    {% endif %}
                </th>
                <th>Type
                </th>
                <th>Active
                </th>
                <th>Created At
                    {% if app.request.query.get('sortby') == 'createdAt' and app.request.query.get('ord') == 'asc' %}
                        <span class="text-gray-600 dark:text-white">
                        <a href="/?sortby=createdAt&ord=asc" class="pl-1 text-green-400 text-lg"><i
                                    class="fa-solid fa-arrow-up"></i></a>
                        <a href="/?sortby=createdAt&ord=desc" class="pl-1"><i
                                    class="fa-solid fa-arrow-down hover:text-blue-500 hover:scale-150"></i></a>
                        </span>
                    {% elseif app.request.query.get('sortby') == 'createdAt' and app.request.query.get('ord') == 'desc' %}
                        <span class="text-gray-600 dark:text-white">
                        <a href="/?sortby=createdAt&ord=asc" class="pl-1"><i
                                    class="fa-solid fa-arrow-up hover:text-blue-500 hover:scale-150"></i></a>
                        <a href="/?sortby=createdAt&ord=desc" class="pl-1 text-red-400 text-lg"><i
                                    class="fa-solid fa-arrow-down"></i></a>
                        </span>
                    {% else %}
                        <span class="text-gray-600 dark:text-white">
                        <a href="/?sortby=createdAt&ord=asc" class="pl-1"><i
                                    class="fa-solid fa-arrow-up hover:text-blue-500 hover:scale-150"></i></a>
                        <a href="/?sortby=createdAt&ord=desc" class="pl-1"><i
                                    class="fa-solid fa-arrow-down hover:text-blue-500 hover:scale-150"></i></a>
                        </span>
                    {% endif %}
                </th>
                <th class="w-max">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for provider in providers %}
            <tr>
                <td>{{ provider.name }}</td>
                <td>{{ provider.email }}</td>
                <td>{{ provider.phone }}</td>
                <td>{{ provider.type }}</td>
                {% if provider.active == 1 %}
                    <td class="text-lime-500">Yes</td>
                {% else %}
                    <td class="text-red-500">No</td>
                {% endif %}
                <td>{{ provider.createdAt|date("d/m/Y H:i") }}
                    {% if provider.updatedAt is not null %}
                        <br>
                        <span class="text-xs">Last update: {{ provider.updatedAt|date("d/m/Y H:i") }}</span>
                    {% endif %}

                </td>
                <td class="w-max h-full">
                    <a href="/edit/{{ provider.id }}" class="btn btn-sm btn-warning md:mb-0 mb-3">Edit</a>
                    <a href="/delete/{{ provider.id }}" class="btn btn-sm btn-error">Delete</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="pagination flex flex-row justify-center my-5">
        <ul class="pagination">
            <div class="join">
                {% if currentPage > 1 %}
                    <button class="join-item btn" onclick="redirectToPage(1)">
                        <li class="page-item">
                            First
                        </li>
                    </button>
                    <button class="join-item btn" onclick="redirectToPage({{ currentPage - 1 }})">
                        <li class="page-item">
                            Previous
                        </li>
                    </button>
                {% endif %}

                {% set startPage = 1 %}
                {% set endPage = totalPages %}
                {% set maxPagesToShow = 3 %}

                {% if totalPages > maxPagesToShow %}
                    {% set halfMaxPages = (maxPagesToShow - 1) / 2 %}
                    {% if currentPage > halfMaxPages %}
                        {% set startPage = currentPage - halfMaxPages %}
                        {% if currentPage + halfMaxPages < totalPages %}
                            {% set endPage = currentPage + halfMaxPages %}
                        {% else %}
                            {% set endPage = totalPages %}
                        {% endif %}
                    {% else %}
                        {% set endPage = maxPagesToShow %}
                    {% endif %}

                    {% if startPage > 1 %}
                        <li class="page-item">
                            <button class="join-item btn" onclick="redirectToPage(1)">
                                ...
                            </button>
                        </li>
                    {% endif %}
                {% endif %}

                {% for page in startPage..endPage %}
                    {% if page == currentPage %}
                        <button class="join-item btn btn-active" onclick="redirectToPage({{ page }})">
                            <li class="page-item active">
                                {{ page }}
                            </li>
                        </button>
                    {% else %}
                        <button class="join-item btn" onclick="redirectToPage({{ page }})">
                            <li class="page-item">
                                {{ page }}
                            </li>
                        </button>
                    {% endif %}
                {% endfor %}

                {% if totalPages > maxPagesToShow %}
                    {% if endPage < totalPages %}
                        <li class="page-item">
                            <button class="join-item btn" onclick="redirectToPage({{ totalPages }})">
                                ...
                            </button>
                        </li>
                    {% endif %}
                {% endif %}

                {% if currentPage < totalPages %}
                    <button class="join-item btn" onclick="redirectToPage({{ currentPage + 1 }})">
                        <li class="page-item">
                            Next
                        </li>
                    </button>
                    <button class="join-item btn" onclick="redirectToPage({{ totalPages }})">
                        <li class="page-item">
                            Last
                        </li>
                    </button>
                {% endif %}
            </div>
        </ul>
    </div>

    <script>
        function redirectToPage(pageNumber) {
            window.location.href = '/?page=' + pageNumber;
        }
    </script>
    <dialog id="delete_modal" class="modal">
        <form method="GET" action="/delete/{{ app.request.query.get('remove') }}" class="modal-box">
            <h3 class="font-bold text-lg">Ara you sure?</h3>
            <p class="py-4">All the provider data will be removed</p>
            <div class="modal-action">
                <button type="submit" class="btn btn-error">Delete</button>
            </div>
            <p class="text-sm text-right py-3">Click outside to cancel</p>
            <input class="hidden" name="opConfirmed" value="true"/>
        </form>
        <form method="dialog" class="modal-backdrop">
            <button></button>
        </form>
    </dialog>

    <div id="notification" class="hidden rounded-md shadow-lg">
        <span id="message"></span>
    </div>

    <style>
        #notification {
            position: fixed;
            /*Center*/
            left: 50%;
            top: 3rem;
            transform: translate(-50%, -50%);
            z-index: 1000;
            background-color: #32a400;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
        }
    </style>

    <script>
        const remove = new URLSearchParams(window.location.search).get('remove');
        if (remove) {
            document.getElementById('delete_modal').showModal();
        }
    </script>

    <script>
        function showNotification(message) {
            const notification = document.getElementById('notification');
            const messageSpan = document.getElementById('message');
            messageSpan.textContent = message;
            notification.classList.remove('hidden');
            let duration = 5000;
            setTimeout(() => {
                notification.classList.add('hidden');
            }, duration);
        }

        switch (new URLSearchParams(window.location.search).get('operation')) {
            case 'add':
                showNotification('Provider created successfully');
                break;
            case 'edit':
                showNotification('Provider updated successfully');
                break;
            case 'delete':
                showNotification('Provider deleted successfully');
                break;
        }
    </script>
{% endblock %}