{% extends 'layout.html.twig' %}
{% block title %}
Add new provider
{% endblock %}
{% block content %}
<div class="w-screen flex flex-col items-center justify-center">
    <h1 class="py-5 text-xl font-bold">Add new provider</h1>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.active) }}
    {{ form_row(form.type) }}

    <div class="m-3">
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}